<h1>Currículo</h1>
<h2>Lucas Calori Felix</h2>
<img src="assets/foto_perfil.jpeg" alt="imagem do Lucas">
<p>Desenvolvedor <strong>Web</strong></p>
<a href="https://github.com/LucascFelix">Github</a>
<h3>Contato</h3>
<a href="https://www.linkedin.com/feed/">Linkedin</a>
<h4>Experiência</h4>
<p>Operador e programador CNC</p>
<h5>Educação</h5>
<p>Técnico em Meio Ambiente</p>
<p>Cursando 3º Semestre em Análise e Desenvolvimento de Sistemas</p>
<h6>Habilidades</h6>
<p>Angular,JavaScrip,html e Css.</p>



